
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>About This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li  class="active"><a href="about">About This Data Set</a></li>
	    <li><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Accountability: About This Data Set</h1>
		<p>Brief: This dataset contains 41396 Airline Reviews, which covered almost every airline company all over the world, with 20 variables in total. </p>
		<p>In these variables, 11 variables is in String type. They are "airline_name", "link", "title", "author", "author_country", "date", "content", "aircraft", "type_traveller","cabin_flown" and "route". </p>
        <p>And, the other variables are numeric. They are "overall_rating", "seat_comfort_rating", "cabin_staff_rating", "food_beverages_rating", "infilght_entertainment_rating", "ground_service_rating", "wifi_connectivity_rating", "value_money_rating" and "recommended".</p>
 <!--       <p>Write a brief summary about the data set here</a></p> -->
      </div>

    
      <div class="page-header">
	<h2>Where did this data come from?</h2>
	<p>I found this data from a github page, Skytrax User Reviews Dataset (https://github.com/quankiquanki/skytrax-reviews-dataset), via redirecting from the Awesome Public Datasets page (https://github.com/awesomedata/awesome-public-datasets).</p>
	<p>As the author described in the github page, this dataset was created from all user reviews found on Skytrax (www.airlinequality.com).</p>
      </div>
      
      <div class="page-header">
	<h2>Who has access to it?</h2>
	<p>As the author described in the github page, These reviews are accessible by anyone with a browser and the robots.txt on their website did not specifically prohibit the scraping of them.</p>
      </div>


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
